/* CSS Document */

@import url("http://cms.imaginamos.com/css/cms.style.css");
@import url("http://cms.imaginamos.com/css/buttons.css");
@import url("http://cms.imaginamos.com/css/icon.css");
	
