@charset "utf-8";
/* CSS Document */

/*---------------------------------------------------

* Nombre del proyecto: 				SERDAN
* Nombre del archivo: 				serdan.css
* Descripción:						Hoja de estilos global
* Fecha de creación:				21 de Enero de 2014
* Autor:							Adrián Rodríguez

== COMENTARIOS ===========


---------------------------------------------------*/


/*
|-----------------------------------------------------------------------------
| @FONT-FACE
|-----------------------------------------------------------------------------
*/ 
@font-face {
    font-family: 'din-regularregular';
    src: url('fonts/dinr____0.eot');
    src: url('fonts/dinr____0.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinr____0.woff') format('woff'),
         url('fonts/dinr____0.ttf') format('truetype'),
         url('fonts/dinr____0.svg#din-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'din-lightalternateregular';
    src: url('fonts/dinla___0.eot');
    src: url('fonts/dinla___0.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinla___0.woff') format('woff'),
         url('fonts/dinla___0.ttf') format('truetype'),
         url('fonts/dinla___0.svg#din-lightalternateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'din-boldalternateregular';
    src: url('fonts/dinba___0.eot');
    src: url('fonts/dinba___0.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinba___0.woff') format('woff'),
         url('fonts/dinba___0.ttf') format('truetype'),
         url('fonts/dinba___0.svg#din-boldalternateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
|-----------------------------------------------------------------------------
| General
|-----------------------------------------------------------------------------
*/ 
body{
	background-color:#fff;
    margin: 0;
	font-family: 'din-regularregular';
	font-size:15px;
	color:#787878;
	min-width:1024px;
}
ul, li{
	margin:0;
	padding:0;
	list-style:none;
	
}
p{
	font-size: 15px;
    line-height: 20px;
}
h1, h2, h3{
	font-family: 'din-lightalternateregular';
	font-weight:normal;
}
h4, h5, h6{
	font-family: 'din-lightalternateregular';
	font-weight:normal;
}
b{
	font-family: 'din-boldalternateregular';
	font-weight:normal;
}
a, a:hover, a:focus{
	text-decoration:none;
	outline:none;
	color:inherit;
}
.clear{
	clear:both;
}
input,
textarea{
	font-family:inherit;
}
.no-marg{
	margin-right:0 !important;
}
img{
	border:0;
	outline:none;
}
.align-center{
	text-align:center;	
}
.align-right{
	text-align:right;	
}
/*
|-----------------------------------------------------------------------------
| Header
|-----------------------------------------------------------------------------
*/
.header-block{
	height:80px;
	background-color:#003ca6;	
}
.header{
	width:1000px;
	margin:0 auto;	
}
.logo{
	float:left;
	margin-top:21px;
}
.header-right{
	border-bottom: 1px solid #3061B7;
    float: right;
    margin-top: 18px;
	position:relative;
}
.main-nav{
	float:left;
}
.main-nav li{
	float:left;
}
.main-nav li a{
	color: #FFFFFF;
    display: block;
    font-size: 13px;
    height: 28px;
    padding: 6px 15px 0;
	cursor:pointer;
}
.main-nav li a:hover,
.main-nav li.active a{
    border-bottom: 2px solid #FA852C;
    height: 27px;
	margin-bottom:-1px;
}
.btn-search{
	float:right;
	cursor:pointer;
}
.search-form{
	position: absolute;
    right: 0;
    top: 37px;
	display:none;
}
.search-form input[type="text"]{
	border: 0 none;
    border-radius: 4px;
    font-size: 14px;
    height: 21px;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
}
.search-form input[type="submit"]{
	background-color: #F5822B;
    border: 0 none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 23px;
    padding: 0 14px;
    text-transform: uppercase;
}

/*
|-----------------------------------------------------------------------------
| Home
|-----------------------------------------------------------------------------
*/

/* Main Slide */

.main-slide{
	border-bottom: 2px solid #F5822B;
	overflow: hidden;
}
.main-slide li.bjqs-slide{
	text-align: center;
}
.main-slide li.bjqs-slide img{
	
}
.slide-info-block{
	position: absolute;
    top: 90px;
    width: 100%;
    z-index: 2;
}
.slide-info{
    margin: 0 auto;
    width: 1000px;
}
.slide-txt{
	border-bottom: 1px solid #9A9FAE;
    border-top: 1px solid #9A9FAE;
    text-align: center;
    width: 600px;
}
.slide-info h4{
	font-size: 35px;
    margin: 0;
}
.slide-info h3{
	margin: 0;
	font-size:55px;
	color:#0057a8;
	line-height: 54px;
}
.slide-info h2{
	color: #F5822B;
    font-size: 55px;
    line-height: 54px;
    margin: 0;
}
.main-slide ul.bjqs-controls{
	display:none;
}
.markers-block{
	margin: 0 auto;
    position: relative;
    width: 1000px;
}
.main-slide ol.bjqs-markers {
    margin-top: -60px;
    position: static;
    text-align: center;
    width: 600px;
}
.main-slide ol.bjqs-markers li {
    display: inline-block;
    float: none;
}
.main-slide ol.bjqs-markers li a{
	height:16px;
}
.slide-control{
	margin: -24px auto 0;
    position: relative;
    text-align: center;
    width: 1000px;
}
.btn-slide{
	background-image: url("../img/btn-slide.png");
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 40px;
}
.btn-slide.closed {
    background-position: center bottom;
    margin-top: 24px;
}

/* Home content */

.content{
	margin: 0 auto;
    padding: 25px 0;
    width: 1000px;
}
.title{
	border-bottom: 1px solid #F5F5F5;
    height: 14px;
    margin-bottom: 40px;
}
.title h3{
	background-color: #FFFFFF;
    background-image: url("../img/arrow.png");
    background-position: 25px center;
    background-repeat: no-repeat;
    color: #003CA6;
    float: right;
    font-size: 23px;
    margin: 0 55px 0 0;
    padding-left: 45px;
    padding-right: 20px;
}
.services-nav{
	margin-top: 60px;
}
.service-btn{
    border-radius: 3px;
    float: left;
    margin-bottom: 40px;
    padding: 20px 0 20px 20px;
    width: 228px;
	border: 1px solid #fff;
}
.service-btn:hover{
	background-color: #FDFDFD;
    border: 1px solid #EBEBEB;
}
.services-nav a{
	cursor:pointer;
}
.service-btn img{
	width: 220px;
}

/* Destacados */

.grey-bkg{
	background-color: #F5F5F5;
    border-top: 3px solid #E9E9E9;
    margin-top: 90px;
}
.grey-bkg .content{
	width:1026px;
}
.high-block{
	background-image: url("../img/high-bkg.png");
    height: 138px;
    margin-top: -130px;
    padding: 31px 44px;
    width: 938px;
}
/* Slide destacados */

.high-slide{
	border: 1px solid #FFFFFF;
    position: relative;
	float:left;
}
.high-slide .slide-info-block{
    top: 0;
    width: 100%;
}
.high-slide .slide-info{
    border-bottom: 1px solid #9A9FAE;
    border-top: 1px solid #9A9FAE;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    text-align: right;
    width: 270px;
}

.high-slide .slide-info h4{
	font-size: 19px;
}
.high-slide .slide-info h3{
	font-size: 25px;
    line-height: 24px;
}
.high-slide .slide-info h2{
    font-size: 25px;
	line-height: 24px;
}
.high-slide ul.bjqs-controls li a {
    background-image: url("../img/slide-arrows.png");
    display: block;
    height: 32px;
    position: absolute;
    text-indent: -3000px;
    top: 21px !important;
    width: 31px;
}
.high-slide ol.bjqs-markers{
	display:none;s
}
ul.bjqs-controls li a.bjqs-next {
    right: -15px;
}
ul.bjqs-controls li a.bjqs-prev {
    left: -15px;
}

.high-img{
	border: 1px solid #FFFFFF;
    float: right;
    height: 138px;
    position: relative;
    width: 458px;
}
.high-img img{
	
}
.high-txt{
	background-color: #FFFFFF;
    bottom: 0;
    padding: 8px 0;
    position: absolute;
    width: 100%;
}
.high-txt p{
	margin:0;
	color:#f5822b;
	font-size:19px;
}
.high-txt p b{
	
}
/* Acordeón servicios */
.green .acc-element .btn-colapse{
	background-image: url("../img/ico-plus-green.png");
}
.red .acc-element .btn-colapse{
	background-image: url("../img/ico-plus-red.png");
}
.blue .acc-element .btn-colapse{
	background-image: url("../img/ico-plus-blue.png");
}
.yellow .acc-element .btn-colapse{
	background-image: url("../img/ico-plus-yellow.png");
}
.pink .acc-element .btn-colapse{
	background-image: url("../img/ico-plus-pink.png");
}
.purple .acc-element .btn-colapse{
	background-image: url("../img/ico-plus-purple.png");
}
.lightgreen .acc-element .btn-colapse{
	background-image: url("../img/ico-plus-lightgreen.png");
}
.maroon .acc-element .btn-colapse{
	background-image: url("../img/ico-plus-maroon.png");
}


.green .acc-element.open .acc-header{
	background-image:none;
	background-color:#009257;
}
.red .acc-element.open .acc-header{
	background-image:none;
	background-color:#e9293e;
}
.blue .acc-element.open .acc-header{
	background-image:none;
	background-color:#42c0ee;
}
.yellow .acc-element.open .acc-header{
	background-image:none;
	background-color:#ffda64;
}
.pink .acc-element.open .acc-header{
	background-image:none;
	background-color:#da3d94;
}
.purple .acc-element.open .acc-header{
	background-image:none;
	background-color:#7a308f;
}
.lightgreen .acc-element.open .acc-header{
	background-image:none;
	background-color:#b2d253;
}
.maroon .acc-element.open .acc-header{
	background-image:none;
	background-color:#ba275c;
}
/* Internas */
.subtitle{
	color: #F5822B;
    font-family: 'din-lightalternateregular';
    font-size: 24px;
    margin-top: 0;
}
.box-header .subtitle{
	margin-bottom: 5px;
    margin-top: 5px;
}
/* Contáctenos */
.check-terms{
	margin: 20px 0 !important;
}
.check-terms p {
    display: inline-block;
    font-size: 13px;
    margin: 0 0 -2px;
    vertical-align: middle;
}
.check-terms a:hover{
	text-decoration:underline;
}
.check-terms .ez-checkbox {
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
/* Resultados */
.result-block{
	border-bottom: 1px solid #F5F5F5;
    padding-bottom: 20px;
}
.result-block h3{
	color: #F5822B;
    font-size: 19px;
}
/* Enlaces de interés */
.link-list{
	margin-bottom: 50px;
}
.link-list li{
	margin-bottom: 20px;
}
.link-list a{
	color: #F5822B;
    cursor: pointer;
    display: block;
    font-family: 'din-boldalternateregular';
    margin-bottom: 6px;
}
.link-list a:hover{
	text-decoration:underline;
}
.link-list i{
	font-size: 13px;
    line-height: 16px;
}
/* Scroll vertical */
.oferta-block{
	margin-bottom: 25px;
}
.box-offer{
	cursor:pointer;
}
.vertical-slide {
    border: 0 none;
    height: 36px;
    margin-bottom: -10px;
    margin-top: -10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.vertical-slide ul{
	position:relative;
}
.vertical-slide li{
	height: 19px;
    margin: 7px 0 6px;
    padding: 0 5px;
}
.vertical-slide p{
	margin:0;
}
.first-slide li{
	margin: 6px 0;
	height:20px;
}
.serv-tit{
	margin-bottom:20px;
}
.wide-img{

}
.wide-img img{
	width: 100%;
}
.content-wide{
	max-width:1300px;
	width:auto;
	min-width:1000px;
}
/*
|-----------------------------------------------------------------------------
| COMPONENTES
|-----------------------------------------------------------------------------
*/
/* CAJAS */
.box {
    background-color: #FFFFFF;
    border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-top: 1px solid #EBEBEB;
    margin-bottom: 20px;
}
.box-header{
    background-image: url("../img/box-header.png");
    background-size: auto 100%;
    border-bottom: 1px solid #EBEBEB;
    box-shadow: 0 1px 2px #CCCCCC;
    display: inline-block;
    padding: 0 2%;
    width: 96%;
}
.box-body{
	display: inline-block;
    padding: 2%;
    width: 96%;
	border-bottom:5px solid #E7E8E8;
}
.box-collapsable{
	
}
.box-collapsable .box-header{
	position:relative;
	cursor: pointer;
}
.box-collapsable .btn-colapse{
	background-image: url("../img/ico-plus.png");
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 40%;
    width: 10px;
}
.box-collapsable.open .btn-colapse{
	background-image:url(../img/ico-minus.png);
}
/* ACORDEON*/
.accordion{
	margin-bottom: 30px;
    margin-top: 57px;
}
.acc-element {
    background-color: #FFFFFF;
    margin-bottom: 5px;
}
.acc-header{
    background-image: url("../img/box-header.png");
    background-size: auto 100%;
    box-shadow: 0 1px 1px #CCCCCC;
    display: inline-block;
    padding: 0 2%;
    width: 96%;
	position:relative;
	cursor:pointer;
}
.acc-header p{
	margin: 7px 0;
}
.acc-body{
	display: inline-block;
    padding: 2%;
    width: 96%;
}
.acc-element .btn-colapse{
	background-image: url("../img/ico-plus.png");
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 36%;
    width: 10px;
}
.acc-element.open .btn-colapse{
	background-image:url(../img/ico-minus.png);
	background-position:bottom;
}
.acc-element.open .acc-header{
	background-image:url(../img/box-header-black.png);
	color:#fff;
}
/* SCROLLS  */
.scroll-content{
	height:350px;
	overflow:hidden;
}
.jspVerticalBar {
    background: none repeat scroll 0 0 #E1E1E1;
    border-radius: 20px;
    overflow: hidden;
}
.jspTrack {
    background: none repeat scroll 0 0 #E1E1E1;
	border: 1px solid #D3D3D3;
}
.jspDrag {
    border-radius: 40px;
    left: -1px;
    width: 5px;
}
.jspDrag{
	background: none repeat scroll 0 0 #D8007F;
}
.scroll-red .jspDrag{
	background: none repeat scroll 0 0 #D8007F;
}
.scroll-black .jspDrag{
	background: none repeat scroll 0 0 #353535;
}
.scroll-content,
.jspContainer,
.jspPane{
	width:99% !important;
}
/* TABLAS */
table{
	margin-bottom: 10px;
    text-align: left;
    width: 100% !important;
}
table thead{
	
}
table thead tr{
	
}
table thead tr th{
	background-image: url("../img/box-header-black.png");
    background-size: auto 100%;
    border-left: 1px solid #535353;
    border-right: 1px solid #191919;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 0 10px 20px;
}
table thead tr.subheader{
	
}
table thead tr.subheader th{
	background-image: url("../img/box-header.png");
	color: #333;
    font-size: 13px;
	border-right: 1px solid #ffffff;
    border-left: 1px solid #e2e4e4;
	border-bottom: 1px solid #e2e4e4;
	border-top: 1px solid #e2e4e4;
}

table thead tr.subheader th.last{
	border-right: 1px solid #e2e4e4;
}
table tbody tr{
	
}
table tbody tr td{
	font-size:13px;
	color:#788d97;
	border-right: 1px solid #ffffff;
    border-left: 1px solid #e2e4e4;
	border-bottom: 1px solid #e2e4e4;
	padding: 10px 0 10px 20px;
}
table tbody tr td.last{
	border-right: 1px solid #e2e4e4;
}
table tbody tr.even td{
	
}
table tbody tr.odd td{
	background-color:#f5f5f5;
}
table tfoot tr{
	
}
table tfoot tr td{
	font-size:13px;
	color:#333333;
    border-left: 1px solid #e2e4e4;
	border-bottom: 1px solid #e2e4e4;
	padding: 10px 0 10px 20px;
	font-family: 'ralewaybold';
	background-color:#f0f0f0;
}
table tfoot tr td.last{
	border-right: 1px solid #e2e4e4;
}

table.table-small thead tr th{
    font-size: 13px;
    padding: 5px 0 5px 10px;
}
table.table-small tbody tr td{
	padding: 5px 0 5px 10px;
}
table.table-small tfoot tr td{
	padding: 5px 0 5px 10px;
}
.table-dinamic{
	clear:both;
	margin-bottom:20px;
}
.dataTables_wrapper .chzn-container {
    width: 50% !important;
}
.dataTables_length {
    margin-bottom: 10px;
	font-size:13px;
}
.dataTables_filter{
	margin-bottom: 10px;
	font-size:13px;
}
.dataTables_info{
	font-size:13px;
}
tr.odd td.sorting_1 {
    background-color: #F5F5F5;
    color: #333333;
}
tr.even td.sorting_1 {
    background-color: #fff;
    color: #333333;
}
table thead tr.subheader th.sorting_asc {
	background: url('../img/sort_asc.png') no-repeat center right;
}
table thead tr.subheader th.sorting_desc {
	background: url('../img/sort_desc.png') no-repeat center right;
}
table thead tr.subheader th.sorting {
	background: url('../img/sort_both.png') no-repeat center right;
}
table thead tr.subheader th.sorting_asc_disabled {
	background: url('../img/sort_asc_disabled.png') no-repeat center right;
}
table thead tr.subheader th.sorting_desc_disabled {
	background: url('../img/sort_desc_disabled.png') no-repeat center right;
}
.dataTables_wrapper{
	
}
.dataTables_wrapper:after {
  clear: both;
}
.dataTables_wrapper:before, 
.dataTables_wrapper:after {
  content: " ";
  display: table;
}
.dataTables_wrapper input[type="text"]{
	width:auto;
}
/* FORMULARIOS */
fieldset{
	border: 0 none;
    margin: 0 0 30px;
    padding: 0;
}
label{
	display: block;
    margin-bottom: 5px;
}
.form-small fieldset{
	margin: 0 0 10px;
}
/* SELECTS */
.chzn-container{
    width: 100% !important;
}
.chzn-container .chzn-search{
	display:none;
}
.chzn-container-single .chzn-single{
	background-color: #F5F5F5;
    background-image: none;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 2px 0 #CCCCCC inset;
    color: #333333;
    height: 54px;
    margin: 0;
    padding-left: 1%;
	font-size:16px;
}
.chzn-container-single .chzn-single span {
    margin-top: 14px;
}
.chzn-container-single .chzn-single div b{
	background-image:url(../img/select-arrow.png);
	background-position:center !important;
	width:53px;
	height:50px;
}
.chzn-container-single .chzn-single div {
    top: 3px;
    width: 54px;
}
.chzn-container-active.chzn-with-drop .chzn-single{
	height:52px;
}
.form-small .chzn-container{

}
.form-small .chzn-container-single .chzn-single div b {
    height: 31px;
    width: 32px;
}
.form-small .chzn-container-single .chzn-single div {
    width: 34px;
}
.form-small .chzn-container-single .chzn-single {
    height: 34px;
    line-height: 16px;
	font-size: 13px;
}
.form-small .chzn-container-active.chzn-with-drop .chzn-single {
    height: 33px;
}
.form-small .chzn-container-single .chzn-single span {
    margin-top: 9px;
}
.form-small .chzn-container-active.chzn-with-drop .chzn-single {
    height: 32px;
}
/* INPUTS Y TEXTAREAS */
input[type="text"],
input[type="email"],
input[type="password"]{
	background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 #CCCCCC inset;
    color: #333333;
    font-size: 16px;
    height: 52px;
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
}
textarea{
	background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 2px 0 #CCCCCC inset;
    color: #333333;
    font-size: 16px;
    height: 130px;
    padding: 10px 1%;
    width: 98%;
}
.form-small input[type="text"],
.form-small input[type="email"],
.form-small input[type="password"]{
	height: 32px;
    margin-bottom: 0;
}
.form-small textarea{
	height: 60px;
}
.form-small label,
.form-small input[type="text"],
.form-small input[type="email"],
.form-small input[type="password"],
.form-small textarea{
	font-size: 13px;
}
.error input{
	border:1px solid #e32a40;
}
.msg-error{
	background-image: url("../img/ico-error.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #E32A40;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}
.form-small .msg-error{
	font-size: 13px;
}
/* Checkbox / radiobuttons*/
.ez-checkbox {
    height: 24px;
    width: 22px;
	cursor:pointer;
}
.ez-checked {
    background-position: 0 -23px;
}
.ez-radio{
	height: 24px;
    width: 22px;
	cursor:pointer;
}
.ez-selected{
	background-position: 0 -23px;
}
.ez-hide {
    cursor: pointer;
    height: 24px;
    margin: 0;
    width: 22px;
}
.checklist{
	display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}
.checklist .ez-checkbox,
.checklist .ez-radio{
	
}
.checklist label{
	display: inline-block;
    margin-bottom: 15px;
    margin-left: 5px;
    vertical-align: middle;
}
/* BOTONES */
.button-group{
	background-color: #EEEEEE;
    border-radius: 3px;
    box-shadow: 0 1px 2px #C6C6C6 inset;
    display: inline-block;
    margin: 20px 0;
    padding: 9px 4px 11px;
}
.button{
	background-image: url("../img/buttong-bkg.png");
    background-size: auto 100%;
    border-bottom: 1px solid #929393;
    border-left: 1px solid #C9C9CB;
    border-radius: 3px;
    border-right: 1px solid #C9C9CB;
    color: #666666;
    cursor: pointer;
    font-size: 13px;
    height: 16px;
    padding: 7px 12px;
}
.button-group .button{

}
.button:hover{
	background-color:#e2e3e4;
	background-image:none;
}
.button.button-plus span{
	background-image:url(../img/btn-ico-plus.png);
}
.button.button-minus span{
	background-image:url(../img/btn-ico-minus.png);
}
.button.button-ok span{
	background-image:url(../img/btn-ico-ok.png);
}
.button.button-cancel span{
	background-image:url(../img/btn-ico-cancel.png);
}
.button span{
	display:inline-block;
	width:8px;
	height:8px;
}
.button-active,
.button-active:hover{
	background-color: #D5D6D7;
    background-image: none;
    border-color: #D5D6D7;
    box-shadow: 0 1px 0 #9C9C9D inset;
	color:#F5822B;
}
.button-big{
	font-size: 14px;
    padding: 10px 20px;
}
.button-larger{
	font-size: 16px;
    padding: 10px 20px;
}
input.button-big{
	height:40px;
}
input.button-larger{
	height: 53px;
    margin-top: 1px;
}
.button-orange{
	background-color: #F5822B;
    background-image: none;
    border: 0 none;
    color: #FFFFFF;
}
.button-orange:hover{
	background-color: #f89244;
	color: #FFFFFF;
}
.btn{
	font-size:15px;
	display:inline-block;
	padding:10px 25px;
	cursor:pointer;
	text-align:center;
}
.btn-small{
	font-size:13px;
	padding:5px 15px;
}
.btn-big{
	font-size: 21px;
    padding: 13px 15px;
}
.btn-block{
	display: block;
}
input[type="submit"].btn-block{
	width:100%;
}
.btn-red{
	color:#d8007f;
	border:1px solid #d8007f;
	background-color:transparent;
}
.btn-red:hover{
	color:#fff;
	border:1px solid #d8007f;
	background-color:#d8007f;
}
.btn-red-inverse{
	color:#fff;
	border:1px solid #d8007f;
	background-color:#d8007f;
}
.btn-red-inverse:hover{
	color:#d8007f;
	border:1px solid #d8007f;
	background-color:transparent;
}
.btn-black{
	color:#333;
	border:1px solid #333;
	background-color:transparent;
}
.btn-black:hover{
	color:#fff;
	border:1px solid #333;
	background-color:#333;
}
.btn-black-inverse{
	color:#fff;
	border:1px solid #333;
	background-color:#333;
}
.btn-black-inverse:hover{
	color:#333;
	border:1px solid #333;
	background-color:transparent;
}
.button-active span{
	background-position:bottom;
}
.dataTables_paginate{
	background-color: #D8DBDB;
    border-radius: 3px;
    box-shadow: 0 1px 2px #939394 inset;
    padding: 4px;
}
.dataTables_paginate a{
	background-image: url("../img/buttong-bkg.png");
    border-bottom: 1px solid #929393;
    border-left: 1px solid #C9C9CB;
    border-radius: 3px;
    border-right: 1px solid #C9C9CB;
    color: #666666;
    font-size: 11px;
    height: 16px;
    padding: 2px 14px;
}
.dataTables_paginate a{
	margin: 0 3px;
}
.dataTables_paginate a:hover{
	background-color:#e2e3e4;
	background-image:none;
}
/* Alineación de botones */
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/* TABS */
.tabs-block{
	margin-top: 50px;
    max-width: 1000px;
    width: 100%;
}
.tabs-nav{
	margin-left: 5px;
}
.tabs-nav ul{
	
}
.tabs-nav ul li{
	float:left;
}
.tabs-nav ul li a{
	background-color: #333333;
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 15px;
    height: 28px;
    margin-right: 1px;
    padding: 7px 20px 0;
}
.tabs-nav ul li.active a{
	background-color: #FFFFFF;
    border-color: #E7E7E7 #E7E7E7 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    margin-bottom: -1px;
    position: relative;
    z-index: 2;
}
.tabs-content{
	background-image: url("../img/white-bkg.png");
    margin-top: -5px;
    max-width: 1000px;
    padding: 5px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.tab-elem{
	background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    margin: 0 5px;
    padding: 35px 20px;
}
/*
|-----------------------------------------------------------------------------
| MODALES
|-----------------------------------------------------------------------------
*/
.fancybox-skin{
	background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0 0 !important;
    padding: 0 !important;
}
.modal .box-header {
    position: fixed;
}
.modal .box-body {
    margin-top: 90px;
}
.fancybox-close{
	background-image: url("../img/modal-close.png");
    background-position: center center;
    height: 20px;
    right: 30px;
    top: 20px;
    width: 20px;
}
.dialogue-block{
	display:none;
}
.overlay{
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9990;
	background-image:url(../img/fancybox.png);
}
.dialogue-block .box{
    position: fixed;
    z-index: 9991;
	width:320px;
	height:auto;
	top:35%;
}
/*
|-----------------------------------------------------------------------------
| ALERTAS
|-----------------------------------------------------------------------------
*/
.alert{
	background-position: 10px center;
    background-repeat: no-repeat;
    border-radius: 4px;
    bottom: 10px;
    padding: 10px;
    position: fixed;
    right: 10px;
    text-align: right;
    width: 240px;
	display:none;
}
.alert span{
	font-size:13px;
	color:#fff;
}
.alert-red{
	background-image:url(../img/alert-ico-error.png);
	background-color:#e32a40;
}
.alert-green{
	background-image:url(../img/alert-ico-ok.png);
	background-color:#33c520;
}
/*
|-----------------------------------------------------------------------------
| SIDEBAR
|-----------------------------------------------------------------------------
*/
.sidebar{

}
.sidebar > ul {
	
}
.sidebar > ul > li{
	margin-bottom: 4px;
}
.sidebar > ul > li > a{
	background-image: url("../img/box-header.png");
    background-size: auto 100%;
    box-shadow: 0 1px 1px #CCCCCC;
    color: #787878;
    cursor: pointer;
    display: block;
    font-size: 15px;
    padding: 7px 10px;
	
}
.sidebar > ul > li > a:hover,
.sidebar > ul > li.open > a{
	background-color: #FF8100;
    background-image: none;
    box-shadow: 0 0;
    color: #FFFFFF;
}
.sidebar > ul > li.open > a{
}

.sidebar ul ul{

}
.sidebar ul ul li{
	
}
.sidebar ul ul li a{
	font-size: 13px;
	color: #788D97;
    cursor: pointer;
    display: block;
	padding: 7px 10px;
	background-color:#fff;
	border-bottom:1px solid #ebebeb;
}
.sidebar ul ul li a:hover{
	color:#333;
}
/*
|-----------------------------------------------------------------------------
| TOPNAV
|-----------------------------------------------------------------------------
*/
.topnav ul li{
	position:relative;
}
.topnav ul ul {
	position: absolute;
    width: 100%;
}
/*
|-----------------------------------------------------------------------------
| IMÁGENES
|-----------------------------------------------------------------------------
*/
.img-box{
	display: block;
    margin: 0 auto;
    width: 100%;
}
.img-border {
    border: 1px solid #E7E7E7;
    box-shadow: 0 1px 2px #CCCCCC;
    margin-bottom: 20px;
    padding: 1%;
    width: 98%;
}


/*
|-----------------------------------------------------------------------------
| Footer
|-----------------------------------------------------------------------------
*/

.footer-block{
	background-color:#003ca6;
	height:88px;
	border-top:1px solid #002361;
	border-bottom:1px solid #002361;
}
.footer{
	width:1000px;
	margin:0 auto;
}
.footer-social{
	float: left;
    margin-top: 30px;
}
.footer-social a{
	display:block;
	width:40px;
	height:30px;
	float:left;
	cursor:pointer;
}
.fb-ico{
	background-image:url(../img/fb-ico.png);
}
.tw-ico{
	background-image:url(../img/tw-ico.png);
}
.in-ico{
	background-image:url(../img/in-ico.png);
}
.footer-social a:hover{
	background-position:bottom;
}
.footer-right{
	color: #FFFFFF;
    float: right;
    text-align: right;
}
.footer-right p{
	margin-bottom: 9px;
}
.footer-nav{
	
}
.footer-nav li{
	float:left;
}
.footer-nav li a{
	cursor:pointer;
}
.footer-div{
	border-left:1px dashed #1c4bab;
	height:15px;
	width:1px;
	float:left;
}
.footer-social .footer-div{
	margin: 8px 15px;
}
.footer-nav .footer-div{
	margin: 4px 10px;
}
.postfooter-block{
	width:1000px;
	margin:0 auto;
}
.trade{
	float:left;
	font-size:15px;	
}
.trade b{
	color:#f5822b;
}
.footer-autor {
    float: right;
    height: 34px;
    line-height: 41px;
    margin: 5px auto 0;
    position: relative;
    width: 250px;
}
.footer-autor #ahorranito2 {
    background: url("http://www.imaginamos.com/derechos_autor_gris/ahorranito-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 22px;
    margin: 9px 10px 0 0;
    width: 21px;
}
.footer-autor a {
    color: #787878;
    float: left;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.footer-autor a:hover {
    color: #787878;
    text-decoration: underline;
}
.footer-autor a span {
    color: #1D9AD4;
}
.footer-autor div {
    color: #787878;
    float: left;
    margin: 0 2px;
}