body{
	font-family:Arial, Helvetica, sans-serif;
}
select{
	width:300px;
}
.register-form{
	margin: 0 auto;
    width: 730px;
}
.tit-line{
	background-color: #FAFAFA;
    border-bottom: 3px solid #F4F3F4;
    height: 37px;
}
.tit-line h1{
	color: #000000;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.btn-block{
	margin-top: 70px;
    text-align: center;
}
.btn{
	background-image: url("../img/main-btn-black.png");
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 29px;
    margin: 0 10px;
    padding-left: 50px;
    padding-top: 10px;
    width: 161px;
	text-align: left;
}
.btn:hover{
	background-position:bottom;
}
form{
	text-align: center;
}
input[type="text"],
input[type="password"]{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #111111;
    display: inline-block;
    font-size: 0.9em;
    height: 40px;
    margin: 0 30px 10px;
    padding: 5px 10px;
    text-shadow: 0 0;
    vertical-align: middle;
    width: 300px;
}
.chzn-container{
	width: 300px;
	margin: 0 30px 10px;
	height: 40px;
	text-align:left;
}
.chzn-container-single .chzn-single{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E2E2E2;
	border-radius: 0 0 0 0;
    box-shadow: none;
    color: #111111;
	font-size: 0.9em;
	height: 38px !important;
}

.chzn-container-multi .chzn-choices{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E2E2E2;
	border-radius: 0 0 0 0;
    box-shadow: none;
    color: #111111;
	font-size: 0.9em;
	height: 40px !important;
}

.chzn-container-multi .chzn-choices .search-field {
    height: 40px;
  
}
.chzn-container-multi .chzn-choices .search-field .default {
    height: 40px;
}
.chzn-container-single .chzn-single span {
    display: block;
    font-size: 13px;
    margin-left: 3px;
    margin-right: 26px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chzn-container-single .chzn-single div {
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 18px;
}
input[type="submit"]{
	border: 0 none;
    float: right;
    height: 39px;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 0;
    width: auto;
}
input[type="submit"]:hover{
	background-position:bottom left;
}
.alumn-form{
	overflow:hidden;
	height:0;
}
.clear{
	clear:both;
}
.opts{
	font-size: 12px;
    text-align: left;
}
.opts a{
	cursor: pointer;
    display: block;
    margin-top: 4px;
}
.opts a:hover{
	color:#BB2C30;
	text-decoration:underline;
}
.alumn-login{
	overflow:hidden;
}
.alumn-rec{
	overflow:hidden;
	height:0;
}
.prof-form{
	overflow:hidden;
	height:0;
}

.prof-login{
	overflow:hidden;
}
.prof-rec{
	overflow:hidden;
	height:0;
}
.opts input{
	display: inline-block;
    margin-right: 10px;
    margin-top: 0;
    vertical-align: middle;
}
.terms-btn{
	display: inline-block !important;
}
.register-form .opts{
	margin-top: 10px;
}
.terminos{
	border-top: 1px solid #E6E6E6;
    display: none;
    margin-top: 20px;
    text-align: justify;
}
.terminos p{
	font-size: 14px;
    line-height: 22px;
}
#sel_ciudades{
	float:left;
	margin-left:4px;
}
#sel_ciudades2{
	float:left;
	width:300px;
	margin-left:4px;
}
#sel_deptos{
	float:left;
	margin-left:3px;
}
#sel_deptos2{
	float:left;
	margin-left:3px;
}
#sel_instituciones{
	width:664px;
	margin-left:3px;
}
#institucion{
	width:664px;
}
#institucion_doc{
	width:664px;
}
#sel_genero{
	float:left;
	margin-left:3px;
}

#sel_grados{
	float:left;
	margin-left:3px;
}

#sel_grados2{
	float:left;
	margin-left:3px;
}

#sel_areas{
	float:left;
	margin-left:3px;
}

#nacimiento{
	
}