@charset "UTF-8";
/* CSS Document */

/*---------------------------------------------------

* Nombre del proyecto: 				SM CATÁLOGO
* Nombre del archivo: 				sm.css
* Descripción:						Hoja de estilos global
* Fecha de creación:				23 de Agosto de 2013
* Autor:							Adrián Rodríguez

== COMENTARIOS ===========


* Ancho:							1000px
---------------------------------------------------*/


/*---------------------------------------------GENERAL--------------------------------------------*/

body{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;
}
a, 
a:hover, 
a:focus{
	text-decoration:none;
	color:inherit;
	outline:none;
}
.clear{
	clear:both;
	
	
}
/*---------------------------------------------GENERAL--------------------------------------------*/

/*---------------------------------------------HEADER--------------------------------------------*/

.site-header {
    padding: 17px 0 0;
	border-bottom:3px solid #F4F3F4;
}
.header-cont h1 {
    display: block;
    float: left;
    line-height: 0;
    margin: 0;
}
.header-cont{
	margin: 0 auto;
    width: 1000px;
}
.header-right-block{
	float:right;
}
.header-social{
	float: right;
}
.header-social li{
	display: inline-block;
    margin-left: 13px;
    vertical-align: middle;
}
.header-top-block{
	height: 50px;
}
.zona-actions{
	float: right;
    margin-bottom: 10px;
}
.div_datosusu{
	float: left;
        margin-right: 20px;
}

.zona-actions li{
	display: inline-block;
    margin-left: 13px;
    vertical-align: middle;
}
.main-nav{
	
}
.main-nav ul{
	
}
.main-nav li{
	float:left;
}
.main-nav li a{
	background-image: url("../img/menu-arrow.png");
    background-position: 18px 58px;
    background-repeat: no-repeat;
    border-right: 1px solid #F4F3F4;
    color: #979898;
    display: block;
    height: 47px;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 28px;
	cursor:pointer;
	font-size:13px;
}
.main-nav li a.active{
	color:#b91631;
	background-position: 18px -139px;
}
.main-nav li a:hover{
	color:#b91631;
	background-position: 18px -139px;
}
.main-nav li:first-child a{
	border-left:1px solid #f4f3f4;
}
.btn-login{
	background-color: #EBE8E7;
    border-bottom: 2px solid #B5B6B7;
    border-radius: 2px 2px 2px 2px;
    color: #353339;
    cursor: pointer;
    display: block;
    font-size: 10px;
    margin-top: -6px;
    padding: 8px 31px;
}
.btn-login:hover{
	border-bottom:0;
	margin-top:-4px;	
}
.second-nav ul{
	width:1000px;
	margin:0 auto;
}
.second-nav li{
	float:left;
}
.second-nav li a.active{
	background-color:#000;
	color:#fff;
}
.second-nav li a:hover{
	background-color:#000;
	color:#fff;
}
.second-nav{
	background-image: url("../img/nav-bkg.png");
    height: 51px;
	background-size: 1% 100%;
}
.second-nav li a{
    color: #646568;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 27px;
    margin-top: 6px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 11px;
}
.second-nav .nav-div{
	background-image: url("../img/nav-div.png");
    float: left;
    height: 30px;
    margin: 10px 9px 0;
    width: 3px;
}
/*---------------------------------------------HEADER--------------------------------------------*/

/*---------------------------------------------CONTENIDO--------------------------------------------*/
.slider{
	margin: 20px auto 0;
    width: 1000px;
}
.slider-block{
	margin: 0 auto;
    overflow: hidden;
    width: 920px;
	float: left;
}
.slider-block ul{
	position:relative;
}
.slider-block ul li{
	float:left;
}
.book{
	cursor: pointer;
    float: left;
    margin: 0 10px;
    width: 210px;
}
.book-img{
	height: 280px;
    overflow: hidden;
    position: absolute;
    width: 210px;
    z-index: 1;
}
.book-img img{
	width:220px;
}
.book-info{
	background-image: url("../img/bkg-red.png");
    color: #FFFFFF;
    position: relative;
    z-index: 1;
	width: 210px;
	height: 280px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.book-info h3{
	font-size: 13px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
}
.book-info p{
	font-size:12px;
	padding-left: 10px;
	padding-right: 10px;
}
.btn-next{
	background-image:url(../img/slide-arrows.png);
	width:30px;
	height:30px;
	display:block;
	background-position:top right;
	float: left;
	margin-top: 120px;
	cursor:pointer;
}
.btn-next:hover{
	background-position:bottom right;
}
.btn-prev{
	background-image: url("../img/slide-arrows.png");
    background-position: left top;
    display: block;
    float: left;
    height: 30px;
    margin-top: 120px;
    width: 30px;
	cursor:pointer;
}
.btn-prev:hover{
	background-position:bottom left;
}
.results-block {
    margin: 40px auto 0;
    width: 1000px;
}
.results-block h3 {
    font-size: 21px;
}
.result-img {
    float: left;
    height: 260px;
    margin-right: 20px;
    overflow: hidden;
    width: 195px;
}
.result-img img{

}
.result-info{
	float:left;
	width:780px;	
}
.result-info p{
	color: #666665;
    font-size: 14px;
    height: 209px;
    line-height: 18px;
    margin-top: 0;
    text-align: justify;
}
.btn {
    background-image: url("../img/main-btn-black.png");
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 29px;
    margin: 0 0 12px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 10px;
    width: auto;
}
.btn:hover {
    background-position: left bottom;
    color: #FFFFFF;
}
.tabs{
	margin-top: 20px;
	margin-bottom:30px;
}
.tabs .tab{
	
}
.tabs .tab li{
	
}
.tabs .tab li a{
	background-color: #353339;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    height: 24px;
    margin-right: 6px;
    padding: 6px 14px 0;
}
.tabs .tab li.active a{
	background-color:#f4f3f3;
	color:#666665;	
}
.tab-content{
	
}
.tab-elem{
	background-color:#f4f3f3;
	padding:50px;
}
.tab-elem ul{
	float: left;
        width: 450px;
}
.tab-elem ul a{
	cursor:pointer;
}
.tab-elem ul a:hover{
	text-decoration:underline;
	color:#B91631;
}
.tab-elem li{
	float: left;
    font-size: 12px;
    height: 40px;
    margin: 0 20px;
    width: 410px;
}
.file{
	float:left;
        width: 340px;
}
.type{
	float:right;
}
.tab-elem iframe{
	display: block;
    height: 480px;
    margin: 0 auto;
    width: 700px;
}

input[type="text"]{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #111111;
    display: inline-block;
    font-size: 0.9em;
    height: 40px;
    margin: 10px 0 20px;
    padding: 5px 10px;
    text-shadow: 0 0;
    vertical-align: middle;
    width: 100%;
}

input[type="password"]{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #111111;
    display: inline-block;
    font-size: 0.9em;
    height: 40px;
    margin: 10px 0 20px;
    padding: 5px 10px;
    text-shadow: 0 0;
    vertical-align: middle;
    width: 100%;
}

input[type="submit"] {
    border: 0 none;
    float: right;
    height: 39px;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 0;
    width: auto;
}

.act-book{
	border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    height: 0;
    overflow: hidden;
}
.act-book form{
	float: right;
    margin-top: 10px;
    width: 420px;
}

.nuevaclave-book{
	border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    height: 0;
    overflow: hidden;
}
.nuevaclave-book form{
	float: right;
    margin-top: 10px;
    width: 420px;
}
.medium li{
	
}
/*---------------------------------------------CONTENIDO--------------------------------------------*/

/*---------------------------------------------FOOTER--------------------------------------------*/

.post-footer-cont{
	background-color: #fff;
    border-top: 3px solid #F4F3F4;
    width: 100%;
}
.post-footer{
	width:1000px;
	margin:0 auto;
}
.trade{
	float: left;
    font-size: 11px;
    margin-top: 11px;
}
.trade p{
	color: #656565;
    font-size: 14px;
    margin: 0;
}
.trade b{
	font-family:Arial, Helvetica, sans-serif;
	color:#030104;
}
.footer-autor {
	font-size:11px;
    float: right;
    height: 34px;
    line-height: 40px;
    margin: -1px auto 0;
    position: relative;
    width: 220px;
}
.footer-autor #ahorranito2 {
    background: url("http://www.imaginamos.com/derechos_autor_gris/ahorranito-2.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 22px;
    margin: 9px 10px 0 0;
    width: 21px;
}
.footer-autor a {
    color: #656565;
    float: left;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}
.footer-autor a:hover {
    color: #656565;
    text-decoration: underline;
}
.footer-autor a span {
    color: #00CCFF;
}
/*---------------------------------------------FOOTER--------------------------------------------*/
