@charset "UTF-8";
/* CSS Document */

/*---------------------------------------------------

* Nombre del proyecto: 				SM CATÁLOGO
* Nombre del archivo: 				sm.css
* Descripción:						Hoja de estilos global
* Fecha de creación:				23 de Agosto de 2013
* Autor:							Adrián Rodríguez

== COMENTARIOS ===========


* Ancho:							1000px
---------------------------------------------------*/


/*---------------------------------------------GENERAL--------------------------------------------*/

body{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif !important;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;
}
a, 
a:hover, 
a:focus{
	text-decoration:none;
	color:inherit;
	outline:none;
}
.clear{
	clear:both;
	
	
}
/*---------------------------------------------GENERAL--------------------------------------------*/

/* Header home */
.home .header-block{
	background-image: url("../img/banner_smpagos.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    border-bottom: 5px solid #D43434;
    height: 540px;
}
.home .gris{
    width:100%;
    background-color: #F1F1F2;
    border-bottom: 5px solid #CACBCD;
    height: 80px;
    padding-top: 45px;
}
.home .header{
	width:940px;
	margin: auto;       
        
}

.home .logos{
	margin-bottom: 70px;
    padding-top: 30px;
}
.home .logos img{
	display:inline-block;
	vertical-align:bottom;
	margin-right:25px;
}
.home .title{
        
	font-size: 21px;
}
.home .title b{
	
}

/* Header section */
.interna .header-block{
	background-image: url("../img/banner_smpagos.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    border-bottom: 5px solid #D43434;
    height: 540px;
}
.interna .gris{
    width:100%;
    background-color: #F1F1F2;
    border-bottom: 5px solid #CACBCD;
    height: 80px;
    padding-top: 45px;
}
.interna .header{
	width:940px;
	margin:auto;
}
.interna .title{
	font-size: 21px;
}
.interna .subtitle{
	background-color: #DCDDDE;
    color: #939597;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
}
.tabla .subtitle{
	display:none;
}

/* Section */
.section-block{
	padding-top:40px;
	background-color:#fff;
	padding-bottom:40px;
	background-image:url(../img/section-img.png);
	background-repeat:no-repeat;
	background-position:right bottom;
}
.resumen .section-block{
	background-image: url("../img/final-img.jpg");
    padding-bottom: 160px;
}
.section{
	
	width:940px;
	margin:0 auto;
}
.login-box{
	width:345px;
	margin:0 auto;
	padding-top:20px;
}
.box-header{
	background-color:#6d6f71;
	height:40px;
	text-align:center;
}
.box-header span{
	color: #FFFFFF;
    display: block;
    font-size: 18px;
    padding-top: 9px;
}
.box-body{
	background-color:#d1d2d4;
	padding:38px 20px 20px;
}
.box-body form{
	margin: 0;
}
.box-body input[type="text"]{
	background-color: #FFFFFF;
    border: 0 none;
    height: 40px;
    padding: 0 10px;
    width: 100%;	
}
input[type="submit"]{
    background-image: url("../img/main-btn-black.png")!important;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 12px;
    height: 39px;
    margin-top: 20px;
    padding-left: 50px;
    text-align: left;
    width: 120px;
}
input[type="submit"]:hover{
    background-position: left bottom;
    color: #FFFFFF;
}
input[type="button"]{
    background-image: url("../img/main-btn-black.png") !important;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 12px;
    height: 39px;
    margin-top: 20px;
    padding-left: 50px;
    text-align: left;
    width: 120px;
}
input[type="button"]:hover{
    background-position: left bottom;
    color: #FFFFFF;
}
.form-box{
	width:940px;
	margin:0 auto;
	
	padding-top:20px;
}
h3{
        font-family:Arial, Helvetica, sans-serif !important;
	font-weight:normal;
	font-size:24px;
	margin-top:0;
}
.form-box input[type="text"]{
	width:100%;
	background-color:#f3f3f4;	
	padding:0 1%;
	border:1px solid #d4d5d7;
	height:29px;
}
.form-box .long{
	float: left;
    margin-right: 2%;
    width: 65%;
	margin-bottom: 15px;
}
.form-box .short{
	float: left;
    width: 33%;
	margin-bottom: 10px;
}
.imagen_texto{
    float: left;
}
.texto{
    float: left;
    margin-left: 80px;
    width: 600px;
    margin-bottom: 50px;
    font-size: 14;
}
.precio{
    margin-top: 150px;
    margin-left: 30px;
    font-size: 16px !important;
    float: left;
}
.form-box .medium{
	float: left;
    margin-right: 2%;
    width: 49%;
	margin-bottom: 15px;
}
.no-marg{
	margin-right:0 !important;
}

.form-box p{
	margin-bottom: 5px;
    margin-top: 0;
}
.form-box .short input[type="text"]{
	margin-bottom: 5px
}

.check{
	
}
.check p{
	display: inline-block;
    vertical-align: middle;
}
.check a{
	cursor:pointer;
}
.check a:hover{
	text-decoration:underline;
}
.check .ez-checkbox{
	display: inline-block;
    margin-top: -2px;
    vertical-align: top;
}

table{
	border: 2px solid #959595;
    margin: 0 auto;
    text-align: left;
    width: 90%;
}
thead th{
	background-color: #959595;
    border-right: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    padding: 4px 10px;
}
.no-border{
	border:0 !important;
}
th{
	
}
tbody tr{
	
}
td{
	border: 0.5px solid #A7A7A7;
    color: #626262;
    font-size: 18px;
    padding: 4px 10px;
}
.grey{
	background-color:#ebebeb;
}
/* Footer */

.footer-block{
    background-color: #FFFFFF;
    border-top: 3px solid #d1d2d4;
}
.footer{
	width:940px;
	margin:0 auto;
}

.trade {
    float: left;
    font-size: 11px;
    margin-top: 11px;
}
.trade p {
    color: #656565;
    margin: 0; 
}
.trade b {
    color: #030104;
    font-family: Arial,Helvetica,sans-serif;
}
.footer-autor {
    float: right;
    font-size: 11px;
    height: 34px;
    line-height: 40px;
    margin: -1px auto 0;
    position: relative;
    width: 220px;
}
.footer-autor #ahorranito2 {
    background: url("http://www.imaginamos.com/derechos_autor_gris/ahorranito-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 22px;
    margin: 9px 10px 0 0;
    width: 21px;
}
.footer-autor a {
    color: #656565;
    float: left;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}
.footer-autor a:hover {
    color: #656565;
    text-decoration: underline;
}
.footer-autor a span {
    color: #00CCFF;
}
.chzn-container{
	width: 300px;
	margin: 0 0px 10px;
	height: 40px;
	text-align:left;
}
.chzn-container-single .chzn-single{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E2E2E2;
	border-radius: 0 0 0 0;
    box-shadow: none;
    color: #111111;
	font-size: 0.9em;
	height: 38px !important;
}

.chzn-container-multi .chzn-choices{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E2E2E2;
	border-radius: 0 0 0 0;
    box-shadow: none;
    color: #111111;
	font-size: 0.9em;
	height: 40px !important;
}

.chzn-container-multi .chzn-choices .search-field {
    height: 40px;
  
}
.chzn-container-multi .chzn-choices .search-field .default {
    height: 40px;
}
.chzn-container-single .chzn-single span {
    display: block;
    font-size: 13px;
    margin-left: 3px;
    margin-right: 26px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chzn-container-single .chzn-single div {
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 18px;
}
select{
	width:80%;
}