@charset "UTF-8";
/* CSS Document */

/*---------------------------------------------------

* Nombre del proyecto: 				SM CATÁLOGO
* Nombre del archivo: 				sm.css
* Descripción:						Hoja de estilos global
* Fecha de creación:				23 de Agosto de 2013
* Autor:							Adrián Rodríguez

== COMENTARIOS ===========


* Ancho:							1000px
---------------------------------------------------*/


/*---------------------------------------------GENERAL--------------------------------------------*/

body{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;
}
a, 
a:hover, 
a:focus{
	text-decoration:none;
	color:inherit;
	outline:none;
}
.clear{
	clear:both;
	
	
}
/*---------------------------------------------GENERAL--------------------------------------------*/

/*---------------------------------------------FILTRO BUSCADOR--------------------------------------------*/

.filter{
	height:68px;
	border-top:1px solid #F4F3F4;
	border-bottom:1px solid #F4F3F4;
	margin-top:5px;
}
.filter-block{
	width:1000px;
	margin:0 auto;
}
.filter h4{
	color: #B91631;
    float: left;
    font-size: 15px;
    margin: 24px 0;
}
.filter form{
    float: right;
    margin-top: 15px;
}
.chzn-container {
    color: #323232;
    font-size: 12px;
}
.chzn-container-single .chzn-single {
    background-color: #F2F2F2;
    background-image: none;
    border: 1px solid #F2F2F2;
    border-radius: 0 0 0 0;
    box-shadow: 0 0;
    color: #323232;
    height: 29px;
    padding: 4px 0 0 8px;
}
.chzn-container-single .chzn-single div b{
	background-image:url(../img/select-arrow.png);
}
.chzn-container-single .chzn-single div {
    height: 34px;
    top: -2px;
    width: 38px;
}
.chzn-container-active.chzn-with-drop .chzn-single div b {
    background-position: center bottom;
}
.filter-block form > input[type="text"]{
	background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    color: #323232;
    display: inline-block;
    font-family: inherit;
    height: 35px;
    padding: 0 0 2px 8px;
    vertical-align: middle;
	font-size:12px;
}
.filter-block form > input[type="submit"]{
	background-image: url("../img/btn-search.png");
    border: 1px solid #F2F2F2;
    display: inline-block;
    height: 35px;
    margin-left: -4px;
    margin-top: -1px;
    padding-top: 0;
    text-indent: -3000px;
    vertical-align: middle;
    width: 38px;
	cursor:pointer;
}
/*---------------------------------------------FILTRO BUSCADOR--------------------------------------------*/

/*---------------------------------------------NAVEGACIÓN CATÁLOGO--------------------------------------------*/

.cat-nav{
	 background-color: #F9F9F9;
    font-size: 14px;
    margin: 40px auto 0;
    width: 1000px;
    text-align: center;
}
.primary{
	border: 1px solid #EAEAEA;
    border-radius: 3px 3px 3px 3px;
    padding: 2px;
}
.primary li{
	float:left;
}
.primary a{
   border-left: 1px solid #EAEAEA;
    border-right: 1px solid #FFFFFF;
    cursor: pointer;
    display: block;
    height: 20px;
    padding: 10px 0 0 10px
}
.primary a:hover,
.primary a.active{
	background-color:#333;
	color:#fff;
}
.primary .first a:hover,
.primary .first a.active{
	background-color: #B91631;
    color: #FFFFFF;
}
.primary .first a{
	border-left:0;
}
.primary .last a{
	border-right:0;
}
.secondary{
	
}
.secondary li{
	float:left;
}
.secondary a{
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 6px;
    padding: 5px 10px 5px 10px
}
.secondary a:hover,
.secondary a.active{
	background-color:#333;
	color:#fff;
}
.secondary .first a:hover,
.secondary .first a.active{
	background-color: #B91631;
    color: #FFFFFF;
}

.tertiary{
	
}
.tertiary li{
	float:left;
}
.tertiary a{
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 6px;
    padding: 5px 10px 5px 10px
}
.tertiary a:hover,
.tertiary a.active{
	background-color:#555;
	color:#fff;
}
.tertiary .first a:hover,
.tertiary .first a.active{
	background-color: #555;
    color: #FFFFFF;
}


.cuaternary{
	border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
.cuaternary li{
	float:left;
}
.cuaternary a{
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 6px;
    padding: 5px 10px 5px 10px
}
.cuaternary a:hover,
.cuaternary a.active{
	background-color:#888;
	color:#fff;
}
.cuaternary .first a:hover,
.cuaternary .first a.active{
	background-color: #888;
    color: #FFFFFF;
}

/*---------------------------------------------NAVEGACIÓN CATÁLOGO--------------------------------------------*/

/*---------------------------------------------SLIDER CATÁLOGO--------------------------------------------*/

.slider-block{
	height: 350px !important;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.bjqs-slide .slider-info{
	width:520px;
	float:left;
}
.slider-info{
	width:730px;
	float:left;
}
.slider-info h3{
	font-size: 21px;
}
.slider-info p{
	color: #666665;
    font-size: 12px;
    line-height: 29px;
}
.slider-img{
	float: right;
    height: 275px;
    margin-top: 50px;
    overflow: hidden;
    width: 470px;
}
.slider-img img{
	width: 100%;
}

ol.bjqs-markers {
    bottom: 15px;
    left: 0;
    position: absolute;
}

ol.bjqs-markers li a {
    height: 25px;
    width: 25px;
	background-position: center bottom;
}

ol.bjqs-markers li.active-marker a {
    background-position: center top;
}
/*---------------------------------------------SLIDER CATÁLOGO--------------------------------------------*/

/*---------------------------------------------RESULTADOS CATÁLOGO--------------------------------------------*/

.no-marg{
	margin-right:0 !important;
}
.results-block{
	width:1000px;
	margin:0 auto;
}
.results-block h3{
	font-size: 21px;
}
.results-block li{
    border-bottom: 1px solid #EAEAEA;
    float: left;
    height: 350px;
    margin-bottom: 30px;
    margin-right: 13px;
    width: 240px;
}
.results-block h4{
    color: #666665;
    font-size: 15px;
    margin: 8px 0;
    text-align: center;
}
.result-img{
	height: 260px;
    overflow: hidden;
    width: 240px;
}
.result-img img{
	width: 100%;
}

/*---------------------------------------------RESULTADOS CATÁLOGO--------------------------------------------*/


/*---------------------------------------------DETALLE CATÁLOGO--------------------------------------------*/

.detail-block{
	width:1000px;
	margin:0 auto;
}

.detail-block h3 {
    margin-left: 30px;
}

.detail-block .slider-img {
    float: left;
    height: auto;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-top: 0;
    width: 250px;
}

.detail-btn{
    background-image: url("../img/main-btn-black.png");
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 29px;
    margin: 0 0 12px;
    padding-left: 50px;
    padding-top: 10px;
    width: 160px;
}
.detail-btn:hover{
	background-position:bottom;
	color: #FFFFFF;
}
.pagination{
    text-align: center;
    width: 100%;
}
/*---------------------------------------------DETALLE CATÁLOGO--------------------------------------------*/
